<!DOCTYPE html>
<html>

<head>
    <title>checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <main>
        <h3>ご予約情報をご確認ください</h3>
        <form>
            <p>
                <label>おなまえ</label>
                <p id="customer-name"></p>
            </p>
            <p>
                <label>メールアドレス</label>
                <p id="customer-addr"></p>
            </p>
            <p>
                <label>交通手段</label>
                <p id="customer-transp"></p>
            </p>
            <p>
                <label>日付とお時間</label>
                <p id="customer-date"></p>
            </p>
            <p>
                <label>人数</label>
                <p id="customer-peopleNum"></p>
            </p>
            <p>
                <label>指定席</label>
                <p id="customer-reserve"></p>
            </p>
            <p>
                <button type="button" id="submit">確定</button>
            </p>
            <p>
                <button type="button" id="cancel">キャンセル</button>
            </p>
        </form>
    </main>
    <footer></footer>
    <script src="/checkoutPage.js" type="text/javascript">       
    </script>
</body>
</html>